<div class="card mb-4 box-shadow full-height">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">{{item?.title}}</h4>
  </div>
  <div class="card-body d-flex flex-column">
    <h1 class="card-title pricing-card-title">
      <small class="text-muted">/ {{item?.subTitle}}</small>
    </h1>
    <ul class="list-unstyled mt-3 mb-4">
      <li>{{item?.description}}</li>
    </ul>
    <button type="button" class="btn btn-lg btn-block btn-outline-primary mt-auto">Sign up for free</button>
  </div>
</div>
